.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: orange;

    height: 50px;
}

.leftside {
    grid-area: leftside;
    background-color: red;

    width: 0;
}

.rightside {
    grid-area: rightside;
    background-color: red;

    width: 0;
}

.main {
    grid-area: main;
    background-color: blue;

    width: 100%;
}

.footer {
    grid-area: footer;
    background-color: green;

    height: 50px;
}

@media (min-width: 576px) {
    /* Styles in here will apply when the screens are larger than 575 pixels wide.
    That would be basically anything other than a mobile phone.
    So for anything that would be displayed on a computer monitor,
    add the styles here! */
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header header"
            "leftside main main rightside"
            "footer footer footer footer";
    }
}