:root {
    --primary-color: #b5d44c;
    --primary-color-light: #e9ff7d;
    --primary-color-dark: #82a314;
    --secondary-color: #3a7e7b;
    --secondary-color-light: #6aaeaa;
    --secondary-color-dark: #00514f;
    --primary-alt-color: #e29039;
    --primary-alt-color-light: #ffc168;
    --primary-alt-color-dark: #ab6201;
    --secondary-alt-color: #db3222;
    --secondary-alt-color-light: #ff694d;
    --secondary-alt-color-dark: #a10000;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: var(--primary-color-dark);

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 50px;
}

.leftside {
    grid-area: leftside;
    background-color: var(--primary-color);

    width: 0;
}

.rightside {
    grid-area: rightside;
    background-color: var(--primary-color);

    width: 0;
}

.main {
    grid-area: main;
    background-color: var(--primary-color);
    color: black;

    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    grid-area: footer;
    background-color: var(--primary-color);

    height: 50px;
}

.screenshot {
    max-width: 100%;
}

.pokemon-logo {
    max-height: 75%;
}

.pokemon-logo-text {
    position: relative;
    max-height: 25%;
    top: -8px;

    font-family:"helvetica-neue-condensed-black";
    -webkit-text-stroke: 1px white;
}

@media (min-width: 576px) {
    /* Styles in here will apply when the screens are larger than 575 pixels wide.
    That would be basically anything other than a mobile phone.
    So for anything that would be displayed on a computer monitor,
    add the styles here! */
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header header"
            "leftside main main rightside"
            "footer footer footer footer";
    }
}